/_/

/bin/
*.pdf
!lab3.pdf
*.info
*.gz

*~
\#*\#
.\#*
*.swp
*.bak

*.o
*.a
*.out
*.gch
test/*
!test/*.cc
!test/*.c
!test/*.h
!test/*.hpp

*-cache
cachegrind.out.*
__*
__dummy.cc
__dummy.hpp
!__dummy/
.tmp
.tmp*

